<%= link_to site_index_path do %>
  <br/>
  <%= image_tag("navbar/navlogo.png", alt:"Bootstrap", class:"navlogo mobile") %>
<% end %>


<!-- navbar -->
<nav class="navbar navbar-expand bg-transparent">
  <div class="container-fluid justify-content-end">
    <div class="flex-grow-0">
  <ul class="navbar-nav">
        <li class="nav-item glownav">
          <%= link_to "Summer'23", products_path, class:"nav-link text-white font-monospace"%>
        </li>
        <li class="nav-item glownav">
          <%= link_to "Mens", products_path, class:"nav-link  text-white font-monospace"%>
        </li>
        <li class="nav-item glownav">
          <%= link_to "Womens", products_path, class:"nav-link  text-white font-monospace"%>
        </li>
        <li class="nav-item glownav">
          <%= link_to "Accessories", products_path, class:"nav-link  text-white font-monospace"%>
        </li>
        <li class="nav-item">
            <% if @cart.orderables.count > 0 %>
              <%= link_to "Cart", products_path, class:"nav-link altglownav  text-white font-monospace"%>
            <% else %>
              <%= link_to "Cart", products_path, class:"nav-link glownav  text-white font-monospace"%>
            <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<%= link_to site_index_path do %>
  <%= image_tag("navbar/navlogo.png", alt:"Bootstrap", class:"navlogo desktop mt-3") %>
<% end %>

