<%= stylesheet_link_tag "product" %>

<div id="<%= dom_id product %>">
  <h1>
    <%= product.name %>
  </h1>

  <div class="mainphoto mt-5 pt-5">

    <% if (!product.photos[0].nil?) %>

      <div class="storemain-frame">
        <div class="storemain">
          <%= image_tag product.photos[0] %>
        </div>
      </div>

    <% end %>

  </div>

  <div class="container secondaryphotos">

  </div>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <%= form_with(url: cart_add_path) do |f| %>
    <%= f.hidden_field :id, value: product.id %>
    <%= f.number_field :quantity, value: 0, min: 1 %>
    <%= f.submit "Add To Cart" %>
  <% end %>

</div>
