<%= stylesheet_link_tag "product" %>

<div id="<%= dom_id product %>" class="pb-5 mb-5">

  <div class="productwrapper">
    <div class="largeframe">
      <% if (!product.photos[0].nil?) %>
        <div class="storemain-frame">
          <%= image_tag product.photos[0], class: "mainphoto" %>
        </div>
      <% else %>
        <p>No Photos :(</p>
      <% end %>
    </div>

    <div class="secondaryphotos">
      <ul>
        <% product.photos.each do |photo| %>
          <% if photo != product.photos[0] %>
            <li>
              <%= image_tag photo, class: "secondaryphoto w-20 mt-2" %>
            </li>
          <% end %>
        <% end %>
        <li>
          <div class="mt-4 shadowtext">
            <div class="typecontainer">
              <h1 id="productsdetails" class="font-monospace typewriter" style="animation: typing 2s steps(<%= (product.name.length) %>), cursor .4s step-end infinite alternate;"><%= product.name %></h1>
            </div>
            <p id="productsdetails" class="font-monospace"><strong>Description - </strong><%= product.description %></p>
            <h4><strong>£</strong><%= product.price %></h4>

            <%= form_with(url: cart_add_path) do |f| %>
              <%= f.hidden_field :id, value: product.id %>
              <%= f.number_field :quantity, value: 0, min: 1, style:"width:10%; display: inline;", class:"form-control" %>
              <%= f.submit "Add To Cart", class: "btn btn-outline-light" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
