<% stylesheet_link_tag "product" %>

<div id="<%= dom_id product %>">
  <h1>
    <%= product.name %>
  </h1>
  
  <% if product.photos.any? %>
    <div>
      <% product.photos.each do |photo| %>
        <% if photo.variable? %>
          <%= image_tag photo, size: "100" %>
        <% elsif photo.previewable? %>
          <%= image_tag photo, rails_blob_path(photo, disposition: :attachment), size: "100" %>
        <% else %>
          <%= link_to photo.filename, rails_blob_path(photo, disposition: :attachment) %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p>Couldnt load</p>
  <% end %>

  <div class="container">
    <% if (!product.photos[0].nil?) %>
      <%= image_tag product.photos[0], class:"storemain" %>
    <% end %>
  </div>
  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <%= form_with(url: cart_add_path) do |f| %>
    <%= f.hidden_field :id, value: product.id %>
    <%= f.number_field :quantity, value: 0, min: 1 %>
    <%= f.submit "Add To Cart" %>
  <% end %>

</div>
