<%= stylesheet_link_tag "product" %>

<div id="<%= dom_id product %>">
    <% if (!product.photos[0].nil?) %>
      <div class="storemain-frame mt-5">
        <%= image_tag product.photos[0] %>
      </div>
    <% end %>
  </div>

  <div class="secondaryphotos">
    <!-- stuff here -->
  </div>

  <div class="productdetails">
    <h1><%= product.name %></h1>

    <p><strong>Description:</strong><%= product.description %></p>

    <p><strong>Price:</strong><%= product.price %></p>

    <%= form_with(url: cart_add_path) do |f| %>
      <%= f.hidden_field :id, value: product.id %>
      <%= f.number_field :quantity, value: 0, min: 1 %>
      <%= f.submit "Add To Cart" %>
    <% end %>
  </div>

</div>
