<%= stylesheet_link_tag "product" %>

<p style="color: green"><%= notice %></p>

<section class="productsection p-3">
  <p class="position">Home / Products</p>
  <h1 class="productheader">New Releases & Product Drops</h1>
</section>

<div class="m-5">
  <div id="products">
    <% @products.each do |product| %>
      <p><%= product.name %></p>
      <p>
      <%= link_to "Show this product", product %>
      </p>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= link_to "New product", new_product_path %>
  <% end %>
</div>
