<div class="footer">
  <div class="footcontiner">
    <div class="footercontents">

      <div class="footercopyright">
        <span id="site-copyright"> © 2023 WrongRail Apparel </span>
      </div>

      <div class="footerlinks">
        <a class="socialicon" href="">
          <%= image_tag("https://img.icons8.com/?size=512&id=118466&format=png", class: "iconimage") %>
        </a> 
        <a class="socialicon" href="">
          <%= image_tag("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg", class: "iconimage") %>
        </a>
        <a class="socialicon" href="">
          <%= image_tag("https://img.icons8.com/?size=512&id=59813&format=png", class: "iconimage") %>
        </a>
        <a class="socialicon" href="">
          <%= image_tag("https://img.icons8.com/?size=512&id=62852&format=png", class: "iconimage") %>
        </a>
        <a class="socialicon" href="">
          <%= image_tag("https://img.icons8.com/?size=512&id=101340&format=png", class: "iconimage") %>
        </a>
      </div>
    </div>
  </div>
</div>
